/* Shared CSS Codes */
*{
    box-sizing:border-box;
}
body {
/* background-image:url(../Images/background.png); */
background-size:cover;
height:100vh;
}
.main-web{
    display:none;
}
.name{
    font-family: 'Crete Round', serif;
    font-size: 2em;
}
a {
    color:#777777;
}
a:hover {
    color:black;
}

a:focus {
    color: burlywood;
}

footer {
    position:fixed;
    background:#666666;
    text-align:center;
    padding:20px;
    bottom:0;
    border-top:8px solid #4aaaa5;
    color:#ffffff;
    width:100%;
}
.sprofile-pic{
    transform:rotate(90deg);
}


/* Index Page */

.about {
    display:none;
    background-color:slategray;
    opacity: 0.75;
    color:white;
    margin-top:6%;
}
h3{
    text-align:left;
    font-weight:bolder;
    color:whitesmoke;
    font-size:3.2rem;
    padding-top:3%;
    padding-left:3%;
    font-family: 'Times New Roman', Times, serif;

}

#para {
    line-height: 2;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    font-family: 'Merriweather', serif;

}

#profile-pic {
    width: 100%;
    transform: rotate(90deg);
    margin-bottom: 27%;
    margin-top: 15%;
}

/* Portfolio Page */
.carousel{
        height: 100vh;
}

/* .card {
  width: 25%;
  height: 25%;
}
.cards {
  display:flex;
  flex-direction: column;
} */


/* Contact Page */
.contact{
    display:none;
}
.contact-row{
    margin-top:3%;
    text-align: center;
    color: white;
}

.color {
    display: grid;
    grid-template-columns: repeat(10,auto);
  }
.div {
    height:100vh;
  }
  #line-0,#line-1, #line-2, #line-3, #line-4, #line-5,#line-6,#line-7,#line-8,#line-9 {
    font-size: 5em;
    position: absolute;
    top: 18%;
    opacity: 0;
    z-index: 2;
  }
#line-0{
  left: 112px;
}
  #line-1 {
    left: 190px;
  }
  #line-2 {
    left: 224px;
  }
  #line-3 {
    left: 261px;
  }
  #line-4 {
    left: 288px;
  }
  #line-5 {
    left: 314px;
  }
  #line-6 {
    left: 334px;
  }
  #line-7 {
    left: 373px;
  }
  #line-8 {
    left: 385px;
  }
  #line-9 {
    left: 399px;
  }