/* Shared CSS Codes */
*{
    box-sizing:border-box;
}
body {
background-image:url(../Images/background.png);
background-size:cover;
height:100vh;
}

header {
    background:#ffffff;
    width:100%;
    top:0px;
    margin-top:-1.5%;
    border-color:#cccccc;
    border-bottom:2px;
}

h1 {
    color:#4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
    font-weight:bolder;
}

/* nav {
    color:#777777;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    top:20px;
    right:19%;
    opacity: 0.8;
    text-align:right;
} */

a {
    color:#777777;
}
a:hover {
    color:blue;
}

a:focus {
    color:red;
}

footer {
    position:fixed;
    background:#666666;
    text-align:center;
    padding:20px;
    bottom:0;
    border-top:8px solid #4aaaa5;
    color:#ffffff;
    width:100%;
}




/* Index Page */

.about {
    display:none;
    background-color:slategray;
    opacity: 0.75;
    color:white;
}
#para {
    line-height: 2;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
}

#profile-pic {
    width: 100%;
    transform: rotate(90deg);
    margin-bottom: 27%;
    margin-top: 15%;
    /* float:left;
    display:block;
    margin:15px; */
}

/* Portfolio Page */
.portfolio{
}


/* Contact Page */
.contact{
    display:none;
}
/* form {
    text-align:left;
    overflow:auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input[type=text] {
    margin-top:10px;
    width:100%;
    padding:10px;
    box-sizing:border-box;
}

input[type=email] {
    width:100%;
    margin-top:10px;
    padding:10px;
    box-sizing:border-box;
}

input[type=message] {
    width:100%;
    margin-top:10px;
    height:200px;
    padding:10px;
    box-sizing:border-box;
    }

input[type=submit] {
    background-color:#4aaaa5;
    color:#ffffff;
    border:none;
    text-align:center;
    padding:15px;
    width:15%;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
}

input[type=submit]:hover {
    cursor:pointer;
    background-color:lightgray;
} */